/* STANDAARD ELEMENTEN */

body {
    font-family: 'Roboto Light', sans-serif;
    width: 100%;
    height: 100%;
}

section {
    padding: 20px 15px 70px 15px;
}

hr {
    max-width: 50px;
    border-color: #90C3D4;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #90C3D4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover,
a:focus {
    color: #55A3BD;
}

a.light {
    color: #dddada;
}

a.light:hover,
a.light:focus {
    color: #c6c3c3;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

h3 {
    padding-left: 0;
}

input[type="file"] {
    display: none;
}

.label-upload {
    cursor: pointer;
}

/* HEADER */

header.main {
    position: relative;
    width: 100%;
    text-align: center;
}

header.main > div {
    margin: 100px auto;
    height: 70px;
    line-height: 70px;
}

header.main > div > h1 {
    font-size: 250%;
}

header {
    width: 100%;
    text-align: center;
}

header > div {
    margin: 5% auto;
    height: 30px;
    line-height: 75px;
}

header > div > h1 {
    font-size: 250%;
}