.drawer {
  position: absolute;
  width: 280px;
  left: -280px;
  height: 100vh;
  background-color: $dashboard;

  z-index: 20;

  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

  &.drawer--open {
    left: 0;
    .drawer__toggle img {
      transform: rotate(180deg);
    }
  }
  
  .drawer__inner {
    overflow: auto;
    height: 100%;
  }

  .drawer__logo {
    background-color: $white;
    padding: 15px 64px;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .drawer__content {
    padding: 26px 20px;
    color: $white;

    p {
      font-size: 18px;
      line-height: 21px;
      margin-top: 26px;
      margin-bottom: 6px;
    }

    .options {
      padding: 20px;
      background-color: $white;
      overflow: auto;

      &.options--blank {
        padding: 0;
        background-color: transparent;
      }
    }

    .drawer__filters {
      .filter {
        display: block;
        margin: 10px 0;

        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }

      .filter--reports {
        color: $filter_reports;
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
          border-color: $filter_reports;
        }
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
          color: $filter_reports;
        }
      }
      .filter--monitoring_wells {
        color: $filter_monitoring_wells;
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
          border-color: $filter_monitoring_wells;
        }
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
          color: $filter_monitoring_wells;
        }
      }
      .filter--rainfall {
        color: $filter_rainfall;
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
          border-color: $filter_rainfall;
        }
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
          color: $filter_rainfall;
        }
      }
      .filter--surface_water {
        color: $filter_surface_water;
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
          border-color: $filter_surface_water;
        }
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
          color: $filter_surface_water;
        }
      }

    }

    .drawer__mode {

      .mode_button {
        width: 50%;
        float: left;
        background-color: $white;
        border: none;
        height: 38px;
        cursor: pointer;

        &.mode_button--selected {
          border: 2px solid $black;
        }
      }
    }

    .drawer__date {

    }

    .drawer__location {
      input[type="text"] {
        float: left;
        width: 145px;
        height: 38px;
        border: none;
        text-align: center;
      }
      button {
        float: left;
        width: 95px;
        height: 38px;
        background-color: $white;
        border: 2px solid $black;
        cursor: pointer;
      }

    }

    .drawer__disclaimer {
      p {
        font-size: 10px;
        line-height: 12px;
        margin-top: 30px;
        margin-bottom: 5px;
      }
    }
  }

  .drawer__toggle {
    position: absolute;
    left: calc(100% - 20px);
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: $dashboard;
    cursor: pointer;
    z-index: -10;
    img {
      position: absolute;
      right: 2px;
      top: 10px;
    }
  }
}

#map {
  width: 100%;
  height: 100vh;
}

//INPUTS
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: -1px;
  width: 18px; height: 18px;
  border: 2px solid $black;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: $black;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  //box-shadow: none;
  border-color: #bbb;
  //background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  //border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  //border: 2px solid #4778d9!important;
}