.screen4 {
	background: $white;
	position: relative;
	height: 100vh;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: rgba($black, 0);
		transition: 500ms $easeInOutCubic;
	}

	&.darker {
		&:before {
			z-index: 1;
			background: rgba($black, .55);
		}

	}

	#loader {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		transition: 500ms $easeInOutCubic;
		opacity: 1;

		background: {
			image: url("../img/loader.png");
			repeat: no-repeat;
			position: 50% 50%;
		}
		animation: {
			name: rotate;
			duration: 3s;
			iteration-count: infinite;
			timing-function: linear
		}

		&.inactive {
			opacity: 0;
			z-index: -1;
		}
	}

	.form {
		position: relative;
		margin: 2rem 0;
		opacity: 1;
		transition: 500ms $easeInOutCubic;
		display: block;

		&.inactive {
			opacity: 0;

			&> * {
				display: none;

			}
		}

		label {
			margin: 0.5rem 0;
			text-align: center;
			height: 2rem;
			padding: 1rem 2rem;
			background: lighten($info-primary, 20%);
			border: none;
			font-size: 1.6rem;
			font-family: $basefont;
			border-radius: 10px;
			letter-spacing: .1rem;
			position: relative;

			&:last-of-type {
				background: $button-inactive;
				padding: 1rem 1.5rem;
				text-decoration: none;
				font-weight: 800;
				border-radius: 2.5rem;
				color: $black;
				box-shadow: 0.05rem 0.2rem 0 darken($button-inactive, 10%);
				left: 50%;
				transform: translateX(-50%);
				transition: 250ms $easeInOutCubic;
				pointer-events: none;

				&.active {
					pointer-events: all;
					background: $button-primary;
					box-shadow: 0.05rem 0.2rem 0 rgba($button-secondary, 100%);
				}
			}

			input,
			select,
			option {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: transparent;
				border: none;
				padding: 0rem 2rem;
				text-align: center;
			}

			select {
				text-align-last: center;
			}
		}

	}

	.backbutton {
		position: fixed;
		top: 1rem;
		left: 1rem;
		width: 2rem;
		height: 2rem;
		z-index: 2;

		&__button {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;

			&:after {
				content: "";
				background: {
					image: url("../img/arrow.png");
					size: contain;
					repeat: no-repeat;
					position: 50% 50%;
				}
				position: absolute;
				top: 50%;
				left: 50%;
				width: 50%;
				height: 50%;
				transform: translate(-50%, -50%) rotate(-90deg);
				transition: 750ms $easeInOutCubic;
				filter: invert(100%);

			}
		}
	}

	.title {
		position: relative;
		height: 20%;

		&__content {
			text-align: center;
			color: $app-primary;

			h1 {
				letter-spacing: 0.2rem;
				font-size: 1.4rem;
			}
		}
	}

	.info,
	.error {
		position: relative;
		z-index: 1;
		height: 50%;

		&__wrapper {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			background: $info-secondary;
			padding: 2rem;
			border-radius: 1rem;
			padding-bottom: 4rem;

			&--success {
				opacity: 0;
				transition: 500ms $easeInOutCubic;

				&.active {
					opacity: 1;
				}

			}
		}

		&__title {
			color: $white;
			font-weight: 800;
			font-size: 1.2rem;
			text-align: center;
		}

		&__desc {
			color: $white;
			margin-top: 1rem;
			text-align: center;
			letter-spacing: .07rem;
		}

		&__cta {
			background: $button-primary;
			padding: 0.7rem 1.5rem;
			text-decoration: none;
			font-weight: 800;
			border-radius: 2.5rem;
			color: $black;
			box-shadow: 0.05rem 0.2rem 0 rgba($button-secondary, 100%);
			width: 70%;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 50%);
			text-align: center;
			font-size: 1.4rem;
		}
	}

	.error {
		position: fixed;
		height: 0;
		opacity: 0;
		transition: 500ms $easeInOutCubic;
		color: $white;

		&.active {
			opacity: 1;
			height: auto;
			left: 50%;
			transform: translate(-50%, -50%);
			top: 50%;
			width: 80%;
			z-index: 5;
		}
	}



	.image {
		height: 33%;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;

		&__container {
			height: 100%;
		}

		&__wrapper {
			height: 100%;
			position: relative;
		}

		&__house {
			height: 100%;
			position: absolute;
			bottom: 0;

			background: {
				image: url('../img/screen2_house.png');
				repeat: no-repeat;
				size: contain;
				position: 50% 50%;
			}

		}

		&__car {
			position: absolute;
			height: 3.5vh;
			bottom: 53%;
			left: 39%;
			transform: translateX(-20%);

			background: {
				image: url('../img/screen1_car.png');
				repeat: no-repeat;
				size: contain;
				position: 50% 50%;
			}
		}

		&__water {
			position: relative;

			background: {
				image: url('../img/water.png');
				repeat: no-repeat;
				size: cover;
				position: 50% 50%;
			}
		}
	}
}